.modal-content {
  background-color: ivory;
  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    clear: both;
  }
}
.bookDetails {
  float: right;
  width: 70%;
  li {
    background-color: ivory;
  }
}
.bookImage {
  height: 25ex;
  width: 9em;
  img {
    height: 100%;
    width: 100%;
  }
}

.bookChoice {
  overflow: auto;
  p,
  h4 {
    clear: both;
    margin-top: 2ex;
  }
}

@media (max-width: 30em) {
  .bookDetails {
    margin-top: 1ex;
    float: left;
    margin-left: 0;
  }
}

.obv:hover {
    background-color: darkred;
}
.banana {
  clear: both;
  margin-top: 1ex;
  color: black;
}
