.modal-content {
  background-color: ivory;
  a {
    color: #CA4D49;
    text-decoration: none;
  }
  a:hover {
    color: #00a0c6;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}
.bookDetails {
  margin-left: 2em;
  width: 70%;
  li {
    background-color: ivory;
  }
}
.bookChoice {
  overflow: auto;
  p,
  h4 {
    clear: both;
    margin-top: 2ex;
  }
}
@media (max-width: 600px) {
  .bookDetails {
    margin-left: 0;
  }
}
