#profilePic {
  border-radius: 50%;
}
.divider:hover {
  cursor:default;
}
@media (min-width: 48em) {
  .nav > li.divider {
    display: none;
  }
}
#welcomeMessage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
