.btn-group button:focus {
  outline: 0;
}

#notes {
  background: url(/images/greyBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  border: 1ex solid grey;
  border-radius: 1%;
}
#notesTabs {
  margin-top: 3ex;
}

.tab a{
  background: rgba(54, 25, 25, .5);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #CA4D49;
  background-color: dimgrey;
}

.note {
  margin-bottom: 4ex;
  border-bottom: 0.5ex solid darkred;
}

.deleteButton {
  cursor: pointer;
  font-size: 20pt;
  margin-right: 0.7em;
  color: red;
}

form h2 {
  margin-bottom: 2ex;
}
#deleteBookButton {
  margin: 5ex 0 5ex 0;
}
