$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_myBooks.scss";
@import "_mySummary.scss";

body {
  background-color: #f1f1d4;
}

.loasForm {
  input, textarea {
    margin-bottom: 2ex;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
