$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_myBooks.scss";
@import "_mySummary.scss";
@import "_singleBook.scss";

body {
  background: url(/images/grungePaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logout {
  color: white;
}

form.well {
  background-color: silver;
}

.loasForm {
  input, textarea {
    margin-bottom: 2ex;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
