$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_myBooks.scss";
@import "_mySummary.scss";
@import "_singleBook.scss";
@import "_addBook.scss";

body {
  background: url(/images/grungePaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Quintessential', cursive;
  main {
    font-family: 'Architects Daughter', cursive;
  }
}

a {
  color: #CA4D49;
  text-decoration: none;
}
a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

#logout {
  color: white;
}

.well {
  background-color: dimgray;
}

label {
  color: #CA4D49;
  font-size: 20pt;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
.form-control {
  background-color: ivory;
}

.loasForm {
  input, textarea {
    margin-bottom: 2ex;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
