<h1 class="text-center topHeader">Add a new Book!</h1>
<form class="well" ng-submit="searchBooks()" role="Finding a book with title and author">
  <div class="form-group input-group-lg loasForm">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Book Title" ng-model="query.title">
  </div>
  <div class="form-group input-group-lg loasForm">
    <label for="author">Author</label>
    <input type="text" class="form-control" name="author" placeholder="Book Author" ng-model="query.author">
  </div>
  <!-- Trigger the modal with a button -->
  <button type="submit" class="btn btn-danger btn-block btn-lg">Find Books!</button>
</form>
<form class="well" ng-submit="specificSearchBooks()" role="Finding a book with isbn">
  <div class="form-group input-group-lg loasForm">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" name="isbn" placeholder="ISBN Number" ng-model="specificQuery.isbn">
  </div>
  <button type="submit" class="btn btn-danger btn-block btn-lg">Find Specific Book!</button>
</form>

<!-- Modal -->
<section id="booksSelection" class="modal fade" role="book selection">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-danger btn-lg pull-right" data-dismiss="modal">Cancel</button>
        <h2 class="modal-title">Books to Select</h2>
      </div>
      <h2 class="text-center">{{ errorMessage }}</h2>
      <div class="modal-body well obv" ng-repeat="book in books.items">
        <a href="" ng-click="selectBook(book)" data-toggle="modal" data-target="#bookConfirm" data-dismiss="modal">
          <div class="bookChoice">
            <div ng-show="book.volumeInfo.imageLinks.smallThumbnail" class="bookImage pull-left">
              <img ng-src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="No Cover Photo" />
            </div>
            <div ng-hide="book.volumeInfo.imageLinks.smallThumbnail" class="bookImage pull-left">
              <img src="/images/generic-book-cover.jpg" alt="No Cover Photo" />
            </div>
            <ul class="bookDetails list-group">
              <li class="list-group-item"><b>Title:</b> {{ book.volumeInfo.title }}</li>
              <li class="list-group-item" ng-if="book.volumeInfo.authors[0] != null" ng-repeat="author in book.volumeInfo.authors"><b>Author:</b> {{ author }}</li>
              <li class="list-group-item" ng-if="book.volumeInfo.publishedDate != null"><b>Published:</b> {{ book.volumeInfo.publishedDate }}</li>
            </ul>
          </div>
          <button class="btn btn-lg btn-block banana">Click to select!</button>
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</section><!--END FIRST MODAL SEARCH -->

<!-- Second Modal-->
<section id="bookConfirm" class="modal fade" role="book confirm">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-danger btn-lg pull-right" data-dismiss="modal">Cancel</button>
        <h2 class="modal-title">Confirm Book</h2>
      </div>
      <div class="modal-body well obv">
        <a href="" ng-click="confirmBook()" data-dismiss="modal" data-toggle="modal" data-target="#confirmMessage">
          <div class="bookChoice">
            <div ng-show="confirm.volumeInfo.imageLinks.smallThumbnail" class="bookImage pull-left">
              <img ng-src="{{ confirm.volumeInfo.imageLinks.smallThumbnail }}" alt="No Cover Photo" />
            </div>
            <div ng-hide="confirm.volumeInfo.imageLinks.smallThumbnail" class="bookImage pull-left">
              <img src="/images/generic-book-cover.jpg" alt="No Cover Photo" />
            </div>
            <ul class="bookDetails list-group">
              <li class="list-group-item"><b>Title:</b> {{ confirm.volumeInfo.title }}</li>
              <li class="list-group-item" ng-if="confirm.volumeInfo.authors[0] != null" ng-repeat="author in confirm.volumeInfo.authors"><b>Author:</b> {{ author }}</li>
              <li class="list-group-item" ng-if="confirm.volumeInfo.publishedDate != null"><b>Published:</b> {{ confirm.volumeInfo.publishedDate }}</li>
            </ul>
            <h4 ng-if="confirm.volumeInfo.description != null">Description: </h4>
            <p class="white outline">{{ confirm.volumeInfo.description }}</p>
            <button class="btn btn-lg btn-block banana">Click to add!</button>
          </div>
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg pull-right" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</section><!--ENG SECOND MODAL CONFIRM BOOK-->

<!--Third Modal-->
<section id="confirmMessage" class="modal fade" role="Confirmation Message">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-danger btn-lg pull-right" data-dismiss="modal">Cancel</button>
        <h2 class="modal-title">Confirmation Message</h2>
      </div>
      <div class="modal-body well" data-dismiss="modal">
        <div class="bookChoice">
          <div ng-show="confirm.volumeInfo.imageLinks.smallThumbnail" class="bookImage pull-left">
            <img ng-src="{{ confirm.volumeInfo.imageLinks.smallThumbnail }}" alt="No Cover Photo" />
          </div>
          <div ng-hide="confirm.volumeInfo.imageLinks.smallThumbnail" class="bookImage pull-left">
            <img src="/images/generic-book-cover.jpg" alt="No Cover Photo" />
          </div>
          <ul class="bookDetails list-group">
            <li class="list-group-item"><b>Title:</b> {{ confirm.volumeInfo.title }}</li>
            <li class="list-group-item" ng-if="confirm.volumeInfo.authors[0] != null" ng-repeat="author in confirm.volumeInfo.authors"><b>Author:</b> {{ author }}</li>
            <li class="list-group-item" ng-if="confirm.volumeInfo.publishedDate != null"><b>Published:</b> {{ confirm.volumeInfo.publishedDate }}</li>
          </ul>
          <h4 ng-if="confirm.volumeInfo.description != null">Description: </h4>
          <h4 class="white outline">Awesome! You have added {{ confirm.volumeInfo.title }} to your books!</h4>
          <a href="" ng-click="hideModal()" class="btn btn-danger btn-lg">Go to My Books</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg pull-right" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</section><!--ENG SECOND MODAL CONFIRM BOOK-->
