<h1 class="text-center topHeader">The stories of our lives add the life to our story</h1>
<div class="text-center col-xs-12">
  <p class="col-xs-12 well outline">Life of a Story is a website designed as a sort of book diary, a place to record what books your reading and reflect upon them via notes for each book you read. LoaS will also help you pick your next book with a handy search feature and automatically
    add that book to your account. LoaS also has a search feature for free books so that everybody has the opportunity to read.</p>
  <a ui-sref="home" ng-click="login(); addUser()" class="btn btn-danger btn-lg col-xs-4 col-xs-offset-4">Login</a>
</div>
