<section class="row well" ng-repeat="book in userBooks">
  <div class="col-xs-4">
    <img ng-src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="Book Image"></img>
  </div>
  <div class="col-xs-4">
    <h4>{{ book.volumeInfo.title }}</h4>
    <author>{{ book.volumeInfo.authors[0] }}</author>
  </div>
  <div class="col-xs-4 text-center">
    <button class="btn glyphicon glyphicon glyphicon-remove-sign deleteBookButton" ng-click="deleteBook(book)"></button>
</section>
<div class="text-center well">
  <a ui-sref="addBook" class="glyphicon glyphicon-plus"><br>Add New Book</a>
</div>
