<section class="row well">
  <div class="col-xs-12">
    <div id="coverImage" class="col-xs-6">
      <img ng-src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="Book Image"></img>
    </div>
    <div class="col-xs-6">
      <h4>{{ book.volumeInfo.title }}</h4>
      <author>{{ book.volumeInfo.authors[0] }}</author>
    </div>
  </div>
</section>
<h1 class="text-center">Your Notes</h1>
<h2 class="text-center">What would you like to remember?</h2>
<section class="text-center">
  <div class="btn-group" role="To select what type of note to create" aria-label="Note Creation Buttons">
    <button type="button" class="btn btn-danger" ng-click="openNoteForm(1)">General Note</button>
    <button type="button" class="btn btn-danger" ng-click="openNoteForm(2)">Page Note</button>
    <button type="button" class="btn btn-danger" ng-click="openNoteForm(3)">Character Note</button>
  </div>
</section> <!--END BUTTON GROUP-->
<form class="well" ng-show="button === 1" ng-submit="addNote(genNote)">
  <div class="form-group loasForm">
    <label for="noteTitle">Note Title</label>
    <input type="text" class="form-control" name="noteTitle" placeholder="Note Title" ng-model="genNote.title">
    <label for="noteBody">Note Body</label>
    <textarea class="form-control" name="noteBody" ng-model=genNote.body></textarea>
    <button type="submit" class="btn btn-danger">Add Note!</button>
  </div>
</form><!--END GENERAL NOTE INPUT-->
<form class="well" ng-show="button === 2" ng-submit="addNote(pageNote)">
  <div class="form-group loasForm">
    <label for="noteTitle">Note Title</label>
    <input type="text" class="form-control" name="noteTitle" placeholder="Note Title" ng-model="pageNote.title">
    <label for="pageNumber">Page Number</label>
    <input type="number" class="form-control" name="pageNumber" placeholder="Page Number" ng-model="pageNote.page">
    <label for="noteBody">Note Body</label>
    <textarea class="form-control" name="noteBody" ng-model="pageNote.body"></textarea>
    <button type="submit" class="btn btn-danger">Add Note!</button>
  </div>
</form><!--END PAGE NOTE INPUT-->
<form class="well" ng-show="button === 3" ng-submit="addNote(charNote)">
  <div class="form-group loasForm">
    <label for="character">Character</label>
    <input type="text" class="form-control" name="character" placeholder="Character Name" ng-model="charNote.character">
    <label for="noteBody">Note Body</label>
    <textarea class="form-control" name="noteBody" ng-model="charNote.body"></textarea>
    <button type="submit" class="btn btn-danger">Add Note!</button>
  </div>
</form><!--END CHARACTER NOTE INPUT-->
<ul class="nav nav-tabs">
  <li class="tab"><a href ng-click="openNotes(1)">Recent</a></li>
  <li class="tab"><a href ng-click="openNotes(2)">General</a></li>
  <li class="tab"><a href ng-click="openNotes(3)">Page</a></li>
  <li class="tab"><a href ng-click="openNotes(4)">Character</a></li>
</ul>

<div class="tab-content">
  <div ng-show="tab === 1" class="tab-pane fade in active">
    <h3>Recent Notes</h3>
    <p>Some content.</p>
  </div>
  <div ng-show="tab === 2" class="tab-pane fade in active">
    <h3>General Notes</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div ng-show="tab === 3" class="tab-pane fade in active">
    <h3>Page Notes</h3>
    <p>Some content in menu 2.</p>
  </div>
  <div ng-show="tab === 4" class="tab-pane fade in active">
    <h3>Character Notes</h3>
    <p>Some content here</p>
  </div>
</div>
